body{}

.container{
  display: flex;
  max-width: 1200px;
}

.cabecalho {
  flex-basis: 30%;
  margin-top: 30px;  
}

.cabecalho__logo {}
.cabecalho__logo img{}

.cabecalho__menuNavegacao {}
.cabecalho__menuLista{
  list-style: none;
}
.cabecalho__menuItem{
  margin-bottom: 25px;
}
.cabecalho__menuItem img{}
.cabecalho__menuItem a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 15px;  
}

.conteudoPrincipal {
  flex-basis: 70%;
}
.conteudoPrincipal__titulo{
  margin-top: 50px;
  margin-left: 20px;  
}
.conteudoPrincipal__formulario{
  border-top: 1px solid #ddd;
  border-bottom: 10px solid #ddd;
  text-align: right;  
}
.conteudoPrincipal__formulario textarea{
  padding: 20px;
  width: 100%;
  border: none;
  outline: none;  
  resize: none;
}
.conteudoPrincipal__formulario button{
  margin: 20px;
  padding: 10px 25px;
  color: white;
  background-color: #A5D9FA;
  border: none;
  border-radius: 20px;  
}
.conteudoPrincipal__feed {}
.conteudoPrincipal__listTweets{}
.conteudoPrincipal__tweet{}
.conteudoPrincipal__tweet img{}

.tweet__conteudo h2{}
.tweet__conteudo span{}
.tweet__conteudo p{}